force-app/main/default/flows/CreateProductCategory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assing_Fields_For_New_Product_Category</name>
        <label>Assing Fields For New Product Category</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>NewProductCategory.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductCategory.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category__r.Parent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_duplicate_product_category</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>does_duplicat_category_exist</name>
        <label>does duplicate category exist</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_record_category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_duplicate_product_category.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Duplicate exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_parent_category_filled_in</name>
        <label>Is Parent Category Filled In</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Category_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__r.Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Fields_For_New_Product_Category</targetReference>
            </connector>
            <label>Parent Category Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>product_plus_category</name>
        <dataType>String</dataType>
        <expression>{!NewProductCategory.Product__c}+{!NewProductCategory.Category__c}</expression>
    </formulas>
    <interviewLabel>CreateProductCategory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProductCategory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_record_category</name>
        <label>Create record product category</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <inputReference>NewProductCategory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_duplicate_product_category</name>
        <label>get duplicate product category</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_duplicat_category_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TechnicalProductCategoryUniqueHelper__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product_plus_category</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductCategory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_parent_category_filled_in</targetReference>
        </connector>
        <object>ProductCategory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewProductCategory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCategory__c</objectType>
    </variables>
</Flow>
